body {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  color: #021C1E;
  line-height: 0;
}

.navbar {
  min-height: 60px;
  border: none;
  background-color: #004445;
  border-radius: 0;
  margin-bottom: 0;
}

.container-fluid, .navbar-header {
  min-height: 60px;
}

.dashboard-nav {
  margin-bottom: 4rem;
}

.navbar-toggle {
  margin-top: 15px;
}

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-nav>li>a:hover {
  color: rgba(249, 249, 249, .5);
}

.navbar-brand {
  padding: 5px 30px;
}

.navbar-brand img {
  height: 50px;

}

.navbar-right {
  padding-top: 5px;
}

/** X animation for mobile nav icon **/

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}


/************************************************/


.title-container {
  color: #777777;
  background-color: #FFFFFF;
}

/**.tablesaw-bar {
  background-color: #426164;
  padding-bottom: 2rem;
}

.tablesaw-bar .btn, .tablesaw-enhanced .tablesaw-bar .btn {
  margin-bottom: 0;
}

.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn {
  background: transparent !important;
}

.tablesaw-advance-dots li i {
  background: #FFFFFF;
}
**/

.fa-plus {
  color: #FFFFFF;
  padding-right: 10px;
}

.mobile-nav {
  background-color: rgba(238, 238, 238, 1);
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: #021C1E;
}

table {
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: rgba(226, 226, 226, 1);
  width: 100%;
}

th {
  border-bottom: 2px solid;
  border-top: 2px solid;
  border-color: rgba(226, 226, 226, 1);
  text-align: center;
  padding: 2rem;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.42857143
}

.new-buttons {
  font-size: 10px;
}

tr {
  text-align: center;
  height: 70px;
}

td {
  height: 2.5rem;
}


.studio-name {
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
  float: left;
  margin: 2rem;
}

.shoot-name {
  text-align: center;
  margin: 2rem auto;
  text-transform: uppercase;
}

.timeline {
  text-align: center;
}

.task-name {
  width: 250px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 1.42857143;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.dot {
  r: 20px;
  cy: 40px;
  cx: 25px;
  fill: #FFFFFF;
  stroke-width: 2;
  stroke: rgba(226, 226, 226, 1);
  transition: .3s ease-in-out;
}

.circle-fill {
  fill: #2C7873;
}

.bottom-line { 
  stroke: rgba(226, 226, 226, 1);
  stroke-width: 2;
  opacity: 0.5;
}

.top-line {
  stroke: rgba(226, 226, 226, 1);
  stroke-width: 2;
  opacity: 0.5;
}

svg {
  width: 50px;
  height: 80px;
}

/*** Buttons ***/

.btn {
  color: #021C1E;
  background-color: #FFFFFF;
  font-weight: 600;
  border-radius: 0;
  margin-top: 9px;
  margin-right: 10px;
}

.fa-plus {
  color: #021C1E;
}

.btn:hover {
  opacity: 0.9;
  color: #021C1E;
} 

.btn-blk {
  border-radius: 0;
  height: 5rem;
}

.btn-default {
  border: none;
}

/****************************************************/

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(238, 238, 238, 0.8);
}

#hidden {
  display: none;
}

li#signout {
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mobile-add-buttons li {
  list-style-type: none;
}

.mobile-add-buttons button {
  height: 5rem;
  color: #FFFFFF;
  background-color: #173E43;
  border: none;
}


/**.tablesaw-advance .btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  text-shadow: 0;
  border-radius: 0;
}**/

.dashboard-nav {
  margin-bottom: 1rem;
}

.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn {
  width: 4em;
  height: 4em;
  margin-top: 0;
}

.tablesaw-enhanced .tablesaw-bar .btn {
  clear: none;
  background-image: none;
  border: none;
  background-color: #FFFFFF;
  box-shadow: none;
}

.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.left:before {
  left: .7em;
  border-right: 25px solid #808080;
}

.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.right:before {
  left: .7em;
  border-left: 25px solid #808080;
}

.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.left:before, .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.right:before {
  top: .5em;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.tablesaw-advance.minimap {
  padding-top: 1.25rem;
}


/****** MODAL ******/

.modal-content {
  border-radius: 0;
}


/****** MEDIA QUERIES *****/


@media screen and (max-width: 767px) {

  .phone-hide {
    display: none;
  }

  .dashboard-nav {
    margin-bottom: 0;
  }

  .navbar-brand {
    padding-left: 10px;
  }

  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  .grey-navbar-header {
    background-color: #888888;
  }

  ul.navbar-nav {
    margin-top: 0;
  }

  nav li {
    height: 7rem;
  }

  nav li:hover {
    background-color: #426164;
  }

  .navbar-nav>li>a {
    padding-top: 25px;
  }

  .navbar-default .navbar-nav>li>a {
    color: #FFFFFF !important;
    font-weight: 400;
    font-size: 16px;
  }

  .btn {
    height: 100%;
    border-radius: 0;
    color: #FFFFFF;
    background-color: #004445;
    border-bottom: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0;
  }

  .fa-plus {
    color: #FFFFFF;
  }

  .btn:hover {
    background-color: #426164;
    color: #FFFFFF;
  }

  .navbar-right {
    padding-top: 0;
  }

  .table-responsive {
    border: none;
  }

  .table-container {
    padding-left: 0;
    padding-right: 0;
  }

  table {
    border-left: none;
    border-right: none;
  }

  .tablesaw-advance {
    float: none;
    clear: none;
  }

  .tablesaw-nav-btn.btn.btn-micro.left {
    float: left;
  }

  .tablesaw-nav-btn.btn.btn-micro.right {
    float: right;
  }

  .tablesaw-advance-dots {
    float: none;
    margin-left: 47%;
  }

  .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn {
    width: 4em;
    height: 4em;
    margin-top: 0;
  }

  .tablesaw-enhanced .tablesaw-bar .btn {
    clear: none;
    background-image: none;
    border: none;
    background-color: #FFFFFF;
  }

  .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.left:before {
    left: .7em;
    border-right: 25px solid #808080;
  }

  .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.right:before {
    left: .7em;
    border-left: 25px solid #808080;
  }

  .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.left:before, .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.right:before {
    top: .5em;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  .tablesaw-advance.minimap {
    padding-top: 1.25rem;
  }


/***
    position: absolute;
    / font-size: 95px; /
    top: -35px;
    right: 5px;
    width: 3em;
    height: 3em;
    border: none;
    background: red;

**/
}

@media screen and (min-width: 768px) {

  .phone-show {
    display: none;
  }

}














