body {
  font-family: "neuzeit-grotesk";
  color: rgb(74, 74, 74);
  line-height: 0;
}

.navbar {
  min-height: 60px;
  border: none;
  background-color: #35404F;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: rgba(249, 249, 249, .5);
}

.navbar-brand {
  padding: 5px 30px;
}

.navbar-right {
  padding-top: 5px;
}

table {
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: rgba(226, 226, 226, 1);
  width: 100%;
}

th {
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: rgba(226, 226, 226, 1);
  text-align: center;
  padding: 2rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857143
}

tr {
  text-align: center;
  height: 70px;
}

td {
  height: 2.5rem;
}

.odd {
  background-color: rgba(249, 249, 249, .5);
}

.studio-name {
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
  float: left;
  margin: 2rem;
}

.shoot-name {
  text-align: center;
  margin: 2rem auto;
}

.timeline {
  text-align: center;
}

/*col {
  width: 150px;
}*/

.task-name {
  width: 250px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.42857143;
}

.dot {
  r: 20px;
  cy: 40px;
  cx: 25px;
  fill: rgba(255, 217, 0, 1);
  stroke-width: 2;
  stroke: rgba(226, 226, 226, 1);
  transition: .3s ease-in-out;
  opacity: 0.5;
}

.bottom-line { 
  stroke: rgba(226, 226, 226, 1);
  stroke-width: 2;
  opacity: 0.5;
}

.top-line {
  stroke: rgba(226, 226, 226, 1);
  stroke-width: 2;
  opacity: 0.5;
}

svg {
  width: 50px;
  height: 80px;
}

/*circle.open-event.dot:hover {
  opacity: 0.2;
}*/

.btn {
  background-color: #4AAAA5;
}

