body {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
}

#home-nav-container {
  padding: 0;
}

.navbar {
  min-height: 60px;
  border: none;
  background-color: #2C7873;
  border-radius: 0;
  margin-bottom: 0;
  letter-spacing: 2;
}

.col-centered{
float: none;
margin: 0 auto;
}

.container-fluid, .navbar-header {
  min-height: 60px;
}

.dashboard-nav {
  margin-bottom: 4rem;
}

.navbar-toggle {
  margin-top: 15px;
}

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-nav>li>a:hover {
  color: rgba(249, 249, 249, .5);
}

.navbar-brand {
  padding: 5px 30px;
}

.navbar-brand img {
  height: 50px;

}

.navbar-right {
  padding-top: 5px;
}

/** X animation for mobile nav icon **/

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}


/************************************************/


.title-container {
  color: #777777;
  background-color: #FFFFFF;
}

/**.tablesaw-bar {
  background-color: #426164;
  padding-bottom: 2rem;
}

.tablesaw-bar .btn, .tablesaw-enhanced .tablesaw-bar .btn {
  margin-bottom: 0;
}

.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn {
  background: transparent !important;
}

.tablesaw-advance-dots li i {
  background: #FFFFFF;
}
**/

.fa-plus {
  color: #FFFFFF;
  padding-right: 10px;
}

.mobile-nav {
  background-color: rgba(238, 238, 238, 1);
}

.session-name-mobile {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #666666;
}

table {
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: rgba(226, 226, 226, 1);
  width: 100%;
  line-height: 0;
}

th {
  border-bottom: 2px solid;
  border-top: 2px solid;
  border-color: rgba(226, 226, 226, 1);
  text-align: center;
  padding: 2rem;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.42857143
}

.new-buttons {
  font-size: 10px;
}

tr {
  text-align: center;
  height: 70px;
}

td {
  height: 2.5rem;
}


.studio-name {
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
  float: left;
  margin: 2rem;
}

.shoot-name {
  text-align: center;
  margin: 2rem auto;
  text-transform: uppercase;
}

.timeline {
  text-align: center;
}

.task-name {
  width: 250px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.42857143;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}

.circle-fill {
  r: 20px;
  cy: 40px;
  cx: 25px;
  fill: #004445;
  stroke-width: 2;
  stroke: #777777;
  transition: .3s ease-in-out;
}

.dot {
  r: 20px;
  cy: 40px;
  cx: 25px;
  fill: #FFFFFF;
  stroke-width: 2;
  stroke: #666666;
  transition: .3s ease-in-out;
}

.bottom-line { 
  stroke: #666666;
  stroke-width: 2;
  opacity: 0.5;
}

.top-line {
  stroke: #666666;
  stroke-width: 2;
  opacity: 0.5;
}

svg {
  width: 50px;
  height: 80px;
}

/*** Buttons ***/

.btn {
  color: #FFFFFF;
  background-color: transparent;
  font-weight: 400;
  border: 1px solid #FFFFFF;
  border-radius: 0;
  margin-top: 9px;
  margin-right: 2rem;
}

.fa-plus {
  color: #FFFFFF;
}

.btn:hover {
  opacity: 0.8;
} 

.btn-blk {
  border-radius: 0;
  height: 5rem;
}

.btn-new:hover {
  background-color: #004445;
  color: #FFFFFF; 
  opacity: 1;
  border: 1px solid #FFFFFF;
}



/****************************************************/

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(238, 238, 238, 0.8);
}

#hidden {
  display: none;
}

li#signout {
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mobile-add-buttons li {
  list-style-type: none;
}

.mobile-add-buttons button {
  height: 5rem;
  color: #FFFFFF;
  background-color: #173E43;
  border: none;
}


/**.tablesaw-advance .btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  text-shadow: 0;
  border-radius: 0;
}**/

.dashboard-nav {
  margin-bottom: 1rem;
}

.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn {
  width: 4em;
  height: 4em;
  margin-top: 0;
}

.tablesaw-enhanced .tablesaw-bar .btn {
  clear: none;
  background-image: none;
  border: none;
  background-color: #FFFFFF;
  box-shadow: none;
}

.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.left:before {
  left: .7em;
  border-right: 25px solid #808080;
}

.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.right:before {
  left: .7em;
  border-left: 25px solid #808080;
}

.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.left:before, .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.right:before {
  top: .5em;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.tablesaw-advance.minimap {
  padding-top: 1.25rem;
}


/****** MODAL ******/

.modal-content {
  border-radius: 0;
}

.form-control {
  height: 40px;
  border-radius: 0;
  box-shadow: none;
}

#submit-button {
  border: none;
  background-color: #2C7873;
  color: #FFFFFF;
  opacity: 1;
  font-weight: 400;
  letter-spacing: 2;
}

#submit-button:hover {
  opacity: 1;
  background-color: #004445;
}

#submit-style {
  border: none;
  background-color: #2C7873;
}

#submit-style:hover {
  background-color: #004445;
}

#btn-cancel {
  color: #666666;
  border: 1px solid #666666;
}

#exampleInputName2-error {
  color: red;
}

#checkboxes_-error {
  color: red;
  font-weight: 700;
  padding-left: 0;
}

#selectAll {
  text-transform: uppercase;
  font-weight: 700;
}

ul#parsley-id-4 {
  padding-left: 0;
}

li.parsley-required {
  color: red;
  list-style-type: none;
}

ul#parsley-id-multiple-checkboxes {
  padding-left: 0;
}

li.parsley-mincheck {
  color: red;
  list-style-type: none;
}


/****** HOME PAGE *******/

.home-nav {
  background-color: transparent;
}

.home-hero {
  background-image: url(../images/image-placeholder.jpg);
  height: 100vh;
  background-position: center center;
  background-size: cover;
  position: relative;
  color: #FFFFFF;
}

.home-hero.tint::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
}

.btn-signup {
  border: 2px solid #FFFFFF;
  background-color: #2C7873;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
}

.btn-signup:hover {
  border: 2px solid #FFFFFF;
  background-color: #2C7873;
  color: #FFFFFF;
  opacity: 0.8;
}

li#signin a {
  color: #FFFFFF;
}

#home-headline {
  margin: 10% auto 2rem auto;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

#home-button {
  text-align: center;
}

#home-subheadline {
  margin-bottom: 3rem;
  font-weight: 200;
  text-align: center;
  line-height: 1.4;
}

.signup-form {
  margin: 1rem auto 4.5rem auto;
}

.home-form {
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
  padding-left: 0;
}

li.parsley-type {
  background-color: rgba(255, 0, 0, 0.5);
  color: #FFFFFF;
  list-style-type: none;
}
/****** MEDIA QUERIES *****/


@media screen and (max-width: 767px) {

  .phone-hide {
    display: none;
  }

  .dashboard-nav {
    margin-bottom: 0;
  }

  .navbar-brand {
    padding-left: 10px;
  }

  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  .grey-navbar-header {
    background-color: #888888;
  }

  ul.navbar-nav {
    margin-top: 0;
  }

  nav li {
    height: 7rem;
  }

  nav li:hover {
    background-color: #004445;
  }

  .navbar-nav>li>a {
    padding-top: 25px;
  }

  .navbar-default .navbar-nav>li>a {
    color: #FFFFFF !important;
    font-weight: 400;
    font-size: 16px;
  }

  li#signin {
    background-color: #888888;
    color: #666666;
  }

  #home-headline {
    margin-top: 15%;
    text-transform: none;
  }

  .btn-default {
    border: none;
  }

  .btn-new {
    height: 100%;
    border-radius: 0;
    color: #FFFFFF;
    background-color: #2C7873;
    border-bottom: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0;
  }

  .fa-plus {
    color: #FFFFFF;
  }

  .btn-new:hover {
    background-color: #004445;
    color: #FFFFFF;
    opacity: 1;
  }

  .navbar-right {
    padding-top: 0;
  }

  .table-responsive {
    border: none;
  }

  .table-container {
    padding-left: 0;
    padding-right: 0;
  }

  table {
    border-left: none;
    border-right: none;
  }

  .tablesaw-advance {
    float: none;
    clear: none;
  }

  .tablesaw-nav-btn.btn.btn-micro.left {
    float: left;
  }

  .tablesaw-nav-btn.btn.btn-micro.right {
    float: right;
  }

  .tablesaw-advance-dots {
    float: none;
    margin-left: 47%;
  }

  .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn {
    width: 4em;
    height: 4em;
    margin-top: 0;
  }

  .tablesaw-enhanced .tablesaw-bar .btn {
    clear: none;
    background-image: none;
    border: none;
    background-color: #FFFFFF;
  }

  .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.left:before {
    left: .7em;
    border-right: 25px solid #808080;
  }

  .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.right:before {
    left: .7em;
    border-left: 25px solid #808080;
  }

  .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.left:before, .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.right:before {
    top: .5em;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  .tablesaw-advance.minimap {
    padding-top: 1.25rem;
  }


/***
    position: absolute;
    / font-size: 95px; /
    top: -35px;
    right: 5px;
    width: 3em;
    height: 3em;
    border: none;
    background: red;

**/
}

@media screen and (min-width: 768px) {

  .phone-show {
    display: none;
  }

}













